{% extends "template.html" %}

{% block body %}

<!-- 
<form method="GET">
  <center>
    <h2>who's in?</h2>
    <input name="target" type="text" placeholder="target..." required>
  </center>

  <section class="columns">
    <div class="column">
      <h2>where</h2>
      <input name="observatory" class="awesomplete" data-list="{{ obs }}" />
    </div>

    <div class="column">
      <button class="button" type="submit">Go</button>
    </div>

    <div class="column">
      <h2>when</h2>
      <input name="date" id="date" type="date" placeholder="date..." />
    </div>
  </section> 
</form>
-->


<div class="container1">
    <form method="POST" autocomplete="off">
      <button class="add_form_field">Add another author &nbsp; 
        <span style="font-size:16px; font-weight:bold;">+ </span>
      </button>
      <!-- <div><input type="text" name="author1"></div> -->
      {% for field in filled_fields %}
      <div><input type="text" name="author1" value="{{field}}">
        <a href="#" class="delete">&#x2718;</a>
      </div>
      {% endfor %}
      <button class="button" type="submit" id="doit">Acknowledge us!</button>
      <div><input type="checkbox" name="geanes" value="G.EANES" checked="true">G.EANES</div>
      <div><input type="checkbox" name="epic" value="EPIC" checked="true">EPIC</div>
      <div><input type="checkbox" name="erc" value="ERC" checked="false" disabled>ERC</div>
    </form>
</div>

  <!-- <form method="GET"> -->
    <!-- <input name="target" type="text" placeholder="target..." required> -->
    <!-- <button class="button" type="submit">Acknowledge me!</button> -->
  <!-- </form> -->
<!-- </div> -->


<div class="container2" id="ack">
{{ acknowledgements }}
</div>
{% if acknowledgements|length %}
<button onclick="copyToClipboard('#ack')"><span id="copyButton">Copy</span></button>
{% endif %}




<div class="container3" id="possible">
  <strong>Possible names:</strong> <br>
    {{ known_authors | safe }}
</div>
    


<script>
$(document).ready(function() {
    var max_fields      = 10;
    var wrapper         = $(".container1");
    var add_button      = $(".add_form_field");
 
    var x = 1;
    $(add_button).click(function(e){
        e.preventDefault();
        if(x < max_fields){
            x++;
            // var div = `<div><input type="text" name="author${x}"/><a href="#" class="delete">Delete Author</a></div>`
            var div = `<div><input type="text" name="author${x}"/><a href="#" class="delete">&#x2718;</a></div>`
            $(wrapper).find('.button').before(div);
        }
        else{
            alert('Reached the maximum number of authors')
        }
    });
 
    $(wrapper).on("click",".delete", function(e){
        e.preventDefault(); $(this).parent('div').remove(); x--;
    })
});
</script>

<script>
function copyToClipboard(element) {
  var $temp = $("<input>");
  $("body").append($temp);
  $temp.val($(element).text()).select();
  document.execCommand("copy");
  $temp.remove();
  var tooltip = document.getElementById("copyButton");
  tooltip.innerHTML = "Copied!";
}
</script>



{% endblock %}
