<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='structure.css') }}">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.css"> -->
  <title> - acknow - </title>
</head>

<body>
  <div class="wrapper">
    {% block body %}

    {% endblock %}
  </div>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.js" async></script> -->


  
<footer>
  <button value="Refresh Page" onClick="window.location.reload();" style="background-color: orange;">
    clear
  </button>
  <br>
  Created by <strong><a href="https://joaofaria.space/">João Faria</a></strong> 
  <br> who acknowledges support from FCT
  <br> 
  <small>
    any 
    <a href="https://github.com/j-faria/acknow/issues" target="_blank"
       style="text-decoration: underline;">
      feedback</a>
    is appreciated!
  </small>
</footer>

<script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
</script>

</body>
</html>
